<%- include("includes/head") %> 

<body>
<%- include("includes/header") %> 
<%- include("includes/navBar") %>
<%- include("includes/alert") %>
  <div class="containerRecord">
     <%- include("includes/navBarFinances") %>
  </div>
</body>
</html>