<%- include("includes/head") %> 

<body>
<%- include("includes/header") %> 
<%- include("includes/navBar") %>
  <div class="containerRecord">
  <%- include("includes/alert") %>
  <h3>Edite o Serviço: </h3> 
  
  <form method="post" action="/service/update/<%= services._id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div div id="div-data">
      <input class="input-1-6" type="text" name="date" id="data" autocomplete="on"placeholder="Data" value="<%= services.date %>">
      <label for="data">Data</label>
    </div>
    <div id="div-cliente">
      <input class="input-3-6" type="text" name="client" id="cliente" autocomplete="on" placeholder="Cliente" value="<%= services.client %>">
      <label for="cliente">Cliente</label>
    </div>
    <div id="div-service">
      <input class="input-3-6" type="text" name="service" id="servico" autocomplete="on" placeholder="Serviço" value="<%= services.service %>">
      <label for="servico">Serviço</label>
    </div>
    <div id="div-value">
      <input class="input-1-6" type="text" name="valueService" id="valor" autocomplete="on" placeholder="Valor" value="<%= services.valueService %>">
      <label for="valor">Valor</label>
    </div>
    <div id="div-btn"><input class="input-1-6 lancar" type="submit" value="Lançar"></div>

  </form>
  </div>
</body>
</html>