<%- include("includes/head") %> 

<body>
<%- include("includes/header") %> 

<%- include("includes/navBar") %>

<div class="containerRecord">


<div class="container">
  <div class="div-schedule">
    <%- include("includes/scheduleTable") %>
  </div>
  <div class="div-calendar">
    <%- include("includes/calendar") %>
  </div>
</div>

</div>
</body>
</html>